html, body {
    max-width: 100%;
    overflow-x: hidden;
}


.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.square-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.square {
    width: 150px;
    height: 150px;
    border: 3px solid #2C7DA0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.square:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.square:active {
    transform: scale(0.98);
}

.square-container p {
    margin: 10px 0 0;
    text-align: center;
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border: 2px solid #2C7DA0;
    border-radius: 8px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    max-height: 80vh;
    overflow-y: auto;
}

.popup img {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
}

.popup img:hover {
    transform: scale(1.1);
}

.videoContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    gap: 50px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    justify-items: center;
}

.video {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 10px 0;
}

video {
    width: 100%;
    height: auto;
    border-radius: 8px;
    max-width: 600px;
}


.container {
    margin-top: 20px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
